{{#unless @disabled}}
  <div
    class="uk-width-1-1"
    uk-form-custom="target: true">

    <input
      type="file"
      name={{@field.pk}}
      id={{@field.pk}}
      {{on "change" this.save}}
    >

    <input
      class="uk-input"
      type="text"
      placeholder={{@placeholder}}
      readonly
    >
  </div>
{{/unless}}

{{#if (and this.downloadUrl this.downloadName)}}
  <UkButton @color="link" @on-click={{this.download}}>
    {{this.downloadName}}
  </UkButton>
{{/if}}