{{#with field.question.rowForm.questions.edges as |questions|}}
  <table class="uk-table">
    <thead>
      <tr>
        {{#each columnHeaders as |edge|}}
          <th>{{edge.node.label}}</th>
        {{/each}}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each field.answer.value as |document|}}
        <tr>
          {{#if field.question.meta.columnsToDisplay.length}}
            {{#each document.fields as |answerField|}}
              {{#if (includes answerField.answer.question.slug field.question.meta.columnsToDisplay)}}
                <td>{{cf-field-value field=answerField}}</td>
              {{/if}}
            {{/each}}
          {{else}}
            {{#each (take 4 document.fields) as |field|}}
              <td>{{cf-field-value field=field}}</td>
            {{/each}}
          {{/if}}
          <td class="uk-text-right">
            <button
              data-test-edit-row
              type="button"
              class="uk-icon-button"
              uk-icon="pencil"
              title={{t "caluma.form.edit"}}
              {{action "editRow" document}}
            >
              <span class="uk-hidden">{{t "caluma.form.edit"}}</span>
            </button>
            {{#unless disabled}}
              <button
                data-test-delete-row
                type="button"
                class="uk-icon-button"
                uk-icon="trash"
                title={{t "caluma.form.delete"}}
                {{action "deleteRow" document}}
              >
                <span class="uk-hidden">{{t "caluma.form.delete"}}</span>
              </button>
            {{/unless}}
          </td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      {{#unless disabled}}
        <tr>
          <td colspan={{add (count-keys questions) 1}} class="uk-text-center">
            <button
              type="button"
              class="uk-button uk-button-default uk-button-small"
              title={{t "caluma.form.addRow"}}
              {{on "click" (perform addRow)}}
            >
              <UkIcon @icon="plus" />
              <span class="uk-hidden">{{t "caluma.form.addRow"}}</span>
            </button>
          </td>
        </tr>
      {{/unless}}
    </tfoot>
  </table>

  <UkModal @visible={{and showAddModal documentToEdit}} @on-hide={{action "closeModal" "showAddModal"}} @btnClose={{true}} @bgClose={{false}} as |modal|>
    <modal.body>
      {{#if documentToEdit}}
        {{cf-form-wrapper
          document=documentToEdit
          fieldset=(object-at 0 documentToEdit.fieldsets)
          disabled=disabled
        }}
      {{/if}}
    </modal.body>

    {{#unless disabled}}
      <modal.footer @class="uk-text-right">
        {{uk-button
          label=(t "caluma.form.save")
          disabled=save.isRunning
          loading=save.isRunning
          on-click=(perform save)
        }}
      </modal.footer>
    {{/unless}}
  </UkModal>

  <UkModal @visible={{and showDeleteModal documentToDelete}} @on-hide={{action "closeModal" "showDeleteModal"}} @btnClose={{true}} @bgClose={{false}} as |modal|>
    <modal.body>
      {{t "caluma.form.deleteRow"}}
    </modal.body>

    <modal.footer @class="uk-text-right">
      {{uk-button
        label=(t "caluma.form.delete")
        disabled=deleteRow.isRunning
        loading=deleteRow.isRunning
        on-click=(perform deleteRow documentToDelete)
      }}
    </modal.footer>
  </UkModal>
{{/with}}
