<div class="uk-flex uk-flex-middle">
  {{#if sortable}}
    <span class="uk-width-auto uk-margin-small-right">
      <i data-test-sort-handle uk-icon="menu" class="uk-sortable-handle"></i>
    </span>
  {{/if}}

  <span data-test-edit-question class="uk-width-auto uk-margin-small-right uk-text-bold uk-link" {{action (optional on-edit-question) question}}>
    {{question.slug}}
  </span>

  <span class="uk-width-expand uk-margin-small-right uk-text-small uk-text-muted uk-text-truncate">{{question.label}}</span>

  <span class="uk-position-relative uk-width-auto">
    {{uk-badge label=(t (concat 'caluma.form-builder.question.types.' question.type))}}
    {{#if required}}
      <span title={{t 'caluma.form-builder.question.isRequired'}} class="uk-position-top-right cfb-form-editor__question-list__item__required"></span>
    {{/if}}
  </span>
</div>
