{{component labelComponent}}

<UkSortable
  @handle=".uk-sortable-handle"
  @on-moved={{action "_handleMoved"}}
  @tagName="ul"
  class="uk-list uk-list-divider uk-margin-remove-bottom uk-margin-small-top"
>
  {{#each this.optionRows as |row i|}}
    {{#validated-form
      data-test-row=(concat "option-" (add i 1))
      tagName="li"
      model=row
    as |f|}}
      <div uk-grid class="uk-grid-small uk-flex uk-flex-middle" id={{row.slug}}>
        {{#if (not (and row.isNew (gt this.optionRows.length 1)))}}
          <span
            data-test-sort-handle
            uk-icon="menu"
            class="uk-sortable-handle"
            role="button"
          ></span>
        {{/if}}
        <div class="uk-width-auto">
          {{#if (and row.isNew (gt this.optionRows.length 1))}}
            <button
              data-test-delete-row
              type="button"
              class="uk-icon-button"
              uk-icon="trash"
              title={{t "caluma.form-builder.options.delete"}}
              {{action "deleteRow" row}}
            >
            </button>
          {{/if}}
          <button
            data-test-archive-row
            type="button"
            class="uk-icon-button"
            uk-icon={{if row.isArchived "plus" "close"}}
            title={{t (concat "caluma.form-builder.options." (if row.isArchived "restore" "archive"))}}
            {{action "toggleRowArchived" row}}
          >
          </button>
        </div>
        <div class="uk-width-expand">
          {{f.input
            name="label"
            inputName=(concat "option-" (add i 1) "-label")
            required=true
            disabled=row.isArchived
            on-update=(action (queue (action "updateLabel") (action "update")))
          }}
        </div>
        <div class="uk-width-1-4">
          {{f.input
            name="slug"
            inputName=(concat "option-" (add i 1) "-slug")
            required=true
            disabled=(not row.isNew)
            on-update=(action (queue (action "updateSlug") (action "update")))
          }}
        </div>
      </div>
    {{/validated-form}}
  {{/each}}
  <li class="uk-text-center">
    <button
      data-test-add-row
      type="button"
      class="uk-icon-button"
      uk-icon="plus"
      {{action "addRow"}}
    >
    </button>
  </li>
</UkSortable>

{{component hintComponent}}
{{component errorComponent}}
