<@labelComponent />

<div class="uk-form-controls">
  <UkToggleSwitch
    @value={{@value}}
    @size={{@size}}
    @name={{@name}}
    @disabled={{@disabled}}
    @on-toggle={{@update}}
  />
</div>

<@hintComponent />
<@errorComponent />