{{#if @loading}}
  <tr>
    <td class="uk-text-center">
      {{uk-spinner ratio=2}}
    </td>
  </tr>
{{else}}
  {{#each @rows as |row|}}
    {{yield row}}
  {{else}}
    <tr>
      <td class="uk-text-center">
        {{t 'caluma.form-builder.form.empty'}}
      </td>
    </tr>
  {{/each}}
{{/if}}
