{{#if data.isRunning}}
  <div class="uk-text-center">{{uk-spinner ratio=2}}</div>
{{else}}
  {{#let (hash
    rootDocument=rootDocument
    displayedDocument=displayedDocument
    navigation=(component "cf-navigation" rootDocument=rootDocument section=section subSection=subSection)
    form=(component "cf-form-wrapper" document=displayedDocument context=context disabled=disabled)
  ) as |content|}}
    {{#if hasBlock}}
      {{yield content}}
    {{else if rootDocument.childDocuments.length}}
      <div uk-grid>
        <div class="uk-width-1-1 uk-width-1-3@m">{{content.navigation}}</div>
        <div class="uk-width-1-1 uk-width-2-3@m">
          {{content.form}}
        </div>
      </div>
    {{else}}
      {{content.form}}
    {{/if}}
  {{/let}}
{{/if}}