{{cf-field/label field=field}}
<div class="uk-flex">
  <div class="uk-width-expand">
    {{cf-field/input field=field disabled=disabled onSave=(perform save)}}
  </div>
  <div
    class="cf-field__icon uk-padding-remove-vertical uk-flex uk-flex-middle uk-flex-center"
  >
    {{#if field.save.isRunning}}
      {{uk-spinner class="uk-animation-fade"}}
    {{else if (or field.save.last.isSuccessful field.answer.value)}}
      {{uk-icon "check" class="uk-animation-fade uk-text-success"}}
    {{else if (or field.save.last.isError field.isInvalid)}}
      {{uk-icon "warning" class="uk-animation-fade uk-text-danger"}}
    {{/if}}
  </div>
</div>

{{#if field.errors.length}}
  {{cf-field/errors field=field}}
{{/if}}
