{{#if (not-eq field.question.__typename "FormQuestion")}}
  {{#if (and (not field.question.meta.hideLabel) (not-eq field.question.__typename "StaticQuestion"))}}
    {{cf-field/label field=field}}
  {{/if}}
  <div class="uk-flex">
    <div class="uk-width-expand">
      {{component (get-widget field) field=field disabled=disabled context=context onSave=(perform save)}}
    </div>
    {{#if field.question.infoText}}
      {{cf-field/info text=field.question.infoText}}
    {{/if}}
    <div
      class="cf-field__icon uk-padding-remove-vertical uk-flex uk-flex-middle uk-flex-center"
    >
      {{#if field.save.isRunning}}
        {{uk-spinner class="uk-animation-fade"}}
      {{else if (or field.save.last.isError field.isInvalid)}}
        {{uk-icon "warning" class="uk-animation-fade uk-text-danger"}}
      {{else if field.save.last.isSuccessful}}
        {{uk-icon "check" class="uk-animation-fade uk-text-success"}}
      {{/if}}
    </div>
  </div>

  {{#if field.errors.length}}
    {{cf-field/errors field=field}}
  {{/if}}
{{/if}}
