<LinkTo @query={{hash displayedForm=@item.slug}}>
  {{#if (and @useAsHeading this.active)}}
    <span
      role="heading"
      aria-level={{@headingLevel}}
      title={{@item.label}}
      class="uk-width-expand uk-text-truncate"
    >
      {{@item.label}}
    </span>
  {{else}}
    <span title={{@item.label}} class="uk-width-expand uk-text-truncate">
      {{@item.label}}
    </span>
  {{/if}}
  <span class="cf-navigation__item__icon cf-navigation__item__icon--{{@item.state}} {{if @item.dirty "cf-navigation__item__icon--dirty"}}"></span>
</LinkTo>

{{#if @item.children}}
  <ul class="uk-tab uk-tab-left uk-margin-left uk-width-auto">
    {{#each @item.children as |childItem|}}
      <CfNavigationItem @item={{childItem}} @headingLevel={{add @headingLevel 1}} />
    {{/each}}
  </ul>
{{/if}}