{{component @labelComponent}}

<div
  name={{@name}}
  class={{concat "uk-textarea cfb-code-editor language-" @language}}
  {{did-insert this.didInsertNode}}
  {{will-destroy this.willDestroyNode}}
></div>

{{component @hintComponent}}
{{component @errorComponent}}