{{component labelComponent}}

<div class="uk-form-controls cfb-prefixed">
  <span class="cfb-prefixed-slug">{{prefix}}</span>

  <input 
    class="uk-input {{validationClass}} cfb-prefixed-input" 
    name={{name}}
    value={{value}}
    disabled={{disabled}}
    required={{required}}
    oninput={{action "update"}}
  >
</div>

{{component hintComponent}}
{{component errorComponent}}