{{component labelComponent}}

<div class="uk-form-controls cfb-prefixed">
  <span class="cfb-prefixed-slug">{{prefix}}</span>

  <input 
    data-test-slug-input
    class="uk-input {{if (and dirty errors) "uk-form-danger"}} cfb-prefixed-input" 
    id={{inputId}}
    name={{name}}
    value={{value}}
    disabled={{disabled}}
    required={{required}}
    oninput={{action "update"}}
    onblur={{action "blur"}}
  >
</div>

{{component hintComponent}}
{{component errorComponent}}
