<h1 class="uk-heading-divider uk-flex uk-flex-between">
  {{#if data.isRunning}}
    {{cfb-loading-dots}}
  {{else}}
    <span>
      {{#if data.lastSuccessful.value}}
        {{data.lastSuccessful.value.name}}
      {{else}}
        {{t 'caluma.form-builder.form.new'}}
      {{/if}}
    </span>
    <span>
      {{uk-button data-test-back label=(t 'caluma.form-builder.global.back') on-click=(action (optional on-back))}}
    </span>
  {{/if}}
</h1>

<div uk-grid class="uk-grid-divider uk-child-width-1-2">
  <div>
    {{yield}}
  </div>

  <div></div>
</div>
