{{#if (and slug data.lastSuccessful (not data.lastSuccessful.value.node))}}
  <div uk-grid class="uk-margin-top">
    <div class="uk-width-1-1 uk-width-1-4@m uk-flex uk-flex-center uk-flex-middle">
      {{uk-icon 'bolt' ratio=10}}
    </div>
    <div class="uk-width-1-1 uk-width-3-4@m">
      <h1 class="uk-heading-hero uk-text-primary">404</h1>
      <p class="uk-text-large uk-text-uppercase">{{t 'caluma.form-builder.global.not-found.title'}}</p>
      <p class="uk-text-muted">{{t 'caluma.form-builder.global.not-found.subtitle'}}</p>
      {{link-to (t 'caluma.form-builder.global.not-found.home') 'index' }}
    </div>
  </div>
{{else}}
  <h1 class="uk-heading-divider uk-flex uk-flex-between">
    {{#if data.isRunning}}
      {{cfb-loading-dots}}
    {{else}}
      <span>
        {{#if data.lastSuccessful.value.node}}
          {{data.lastSuccessful.value.node.name}}
        {{else}}
          {{t 'caluma.form-builder.form.new'}}
        {{/if}}
      </span>
      <span>
        {{uk-button data-test-back label=(t 'caluma.form-builder.global.back') on-click=(action (optional on-back))}}
      </span>
    {{/if}}
  </h1>

  <div uk-grid class="uk-grid-divider uk-child-width-1-1 uk-child-width-1-2@m">
    <div>
      {{yield}}
    </div>

    <div>
      {{#if data.isRunning}}
        <div class="uk-flex uk-flex-center uk-flex-middle uk-height-small">
          {{uk-spinner ratio=2}}
        </div>
      {{else}}
        {{#liquid-if add use='fade'}}
          <form class="uk-search uk-search-default uk-width-1-1">
            <span class="uk-search-icon-flip" uk-search-icon></span>
            <input
              class="uk-search-input"
              type="search"
              placeholder="{{t 'caluma.form-builder.global.search'}}..."
              value={{_term}}
              oninput={{action (queue (action (mut _term)) (action (perform search))) value='target.value'}}
            >
          </form>
          <ul class="uk-list">
            {{#if search.isRunning}}
              <li class="uk-text-center">{{uk-spinner ratio=1.5}}</li>
            {{else}}
              {{#each search.lastSuccessful.value as |question|}}
                {{cfb-form-editor/question-list/item
                  data-test-add-question-list-item=question.node.slug
                  sortable=false
                  question=question.node
                  on-edit-question=(perform addQuestion)
                }}
              {{/each}}
            {{/if}}
            <li class="uk-text-small uk-text-muted">
              {{t 'caluma.form-builder.question.search'}}
              <a href="#" data-test-new-question {{action (queue (action (optional on-new-question)) (action (mut add) false))}}>{{t 'caluma.form-builder.question.create'}}</a>
            </li>
          </ul>
        {{else}}
          {{#if data.lastSuccessful.value.node.questions.edges}}
            {{cfb-form-editor/question-list
              data-test-question-list
              questions=data.lastSuccessful.value.node.questions.edges
              on-edit-question=on-edit-question
              on-reorder-questions=(perform reorderQuestions)
            }}
          {{else}}
            <div data-test-question-list-empty class="uk-text-center">
              <p class="uk-text-muted">{{t 'caluma.form-builder.question.empty'}}</p>
            </div>
          {{/if}}
        {{/liquid-if}}
        <div class="uk-text-center">
          {{#if add}}
            <button
              type="button"
              class="uk-icon-button"
              uk-icon="close"
              title={{t 'caluma.form-builder.global.cancel'}}
              {{action (mut add) false}}
            ></button>
          {{else}}
            <button
              data-test-add-question
              type="button"
              class="uk-icon-button"
              uk-icon="plus"
              title={{t 'caluma.form-builder.question.add'}}
              {{action (mut add) true}}
            ></button>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}
