{{#each choices as |optionEdge i|}}
  {{#let optionEdge.node as |option|}}
    {{#if (gt i 0)}}<br>{{/if}}
    <label class="cf-checkbox_label {{if field.isInvalid "uk-form-danger"}}">
      <input
        class="uk-checkbox uk-margin-small-right"
        type="checkbox"
        name={{field.id}}
        value={{option.slug}}
        checked={{contains option.slug field.answer.value}}
        disabled={{disabled}}
        onchange={{action "update"}}
      >
      {{option.label}}
    </label>
  {{/let}}
{{/each}}
