{{#each field.question.choiceOptions.edges as |optionEdge i|}}
  {{#let optionEdge.node as |option|}}
    {{#if (gt i 0)}}<br>{{/if}}
    <label class={{if field.isInvalid "uk-form-danger"}}>
      <input
        class="uk-radio uk-margin-small-right"
        type="radio"
        name={{field.id}}
        value={{option.slug}}
        checked={{eq option.slug field.answer.stringValue}}
        disabled={{disabled}}
        onchange={{action onSave option.slug}}
      >
      {{option.label}}
    </label>
  {{/let}}
{{/each}}
