{{#if data.isRunning}}
  <div class="uk-flex uk-flex-center uk-flex-middle uk-height-small">
    {{uk-spinner ratio=2}}
  </div>
{{else}}
  {{#with data.lastSuccessful.value.firstObject.node as |model|}}
    <ValidatedForm @model={{changeset model validations}} @on-submit={{perform submit}} as |f|>
      {{f.input
        type="text"
        label=(t "caluma.form-builder.form.name")
        name="name"
        required=true
        on-update=(action "updateName")
      }}

      {{#if (or slug (not prefix))}}
        {{f.input
          type="text"
          label=(t "caluma.form-builder.form.slug")
          name="slug"
          required=true
          disabled=slug
          on-update=(action "updateSlug")
        }}
      {{else}}
        <f.input @name="slug" @required={{true}} @disabled={{slug}} @label={{t "caluma.form-builder.question.slug"}} @on-update={{action "updateSlug" value="target.value"}} as |fi|>
          <div class="cfb-prefixed">
            <span class="cfb-prefixed-slug">{{prefix}}</span>

            {{validated-input/types/-themes/uikit/input
              type="text"
              model=fi.model
              name=fi.name
              value=fi.value
              update=fi.update
              setDirty=fi.setDirty
              inputId=fi.inputId
              isValid=fi.isValid
              isInvalid=fi.isInvalid
            }}
          </div>
        </f.input>
      {{/if}}

      {{f.input
        type="textarea"
        label=(t "caluma.form-builder.form.description")
        name="description"
        rows=4
      }}

      {{f.input
        name="isArchived"
        label=(t "caluma.form-builder.form.isArchived")
        required=true
        renderComponent=(component "cfb-toggle-switch" size="small")
        class="uk-flex uk-flex-between uk-flex-column"
      }}

      {{f.input
        name="isPublished"
        label=(t "caluma.form-builder.form.isPublished")
        required=true
        renderComponent=(component "cfb-toggle-switch" size="small")
        class="uk-flex uk-flex-between uk-flex-column"
      }}

      <div class="uk-text-right">
        {{f.submit
          disabled=(or f.loading f.model.isInvalid)
          label=(t "caluma.form-builder.global.save")
        }}
      </div>
    </ValidatedForm>
  {{^}}
    <div
      class="uk-text-center uk-text-muted uk-padding uk-padding-remove-horizontal"
    >
      {{uk-icon "bolt" ratio=5}}
      <p>{{t "caluma.form-builder.form.not-found" slug=slug}}</p>
    </div>
  {{/with}}
{{/if}}
