{{component labelComponent}}

<ul class="uk-list uk-list-divider uk-margin-remove-bottom uk-margin-small-top">
  {{#each optionRows as |row i|}}
    {{#validated-form
      data-test-row=(concat "option-" (add i 1))
      tagName="li"
      model=row
    as |f|}}
      <div uk-grid class="uk-grid-small uk-flex">
        {{#if (gt optionRows.length 1)}}
          <div class="uk-width-auto">
            <button
              data-test-delete-row
              type="button"
              class="uk-icon-button"
              uk-icon="trash"
              {{action "deleteRow" row}}
            >
            </button>
          </div>
        {{/if}}
        <div class="uk-width-expand">
          {{f.input
            name="label"
            inputName=(concat "option-" (add i 1) "-label")
            required=true
            on-update=(action (queue (action "updateLabel") (action "update")))
          }}
        </div>
        <div class="uk-width-1-4">
          {{f.input
            name="slug"
            inputName=(concat "option-" (add i 1) "-slug")
            required=true
            disabled=(not row.isNew)
            on-update=(action (queue (action (mut f.model.slug)) (action "update")))
          }}
        </div>
      </div>
    {{/validated-form}}
  {{/each}}
  <li class="uk-text-center">
    <button
      data-test-add-row
      type="button"
      class="uk-icon-button"
      uk-icon="plus"
      {{action "addRow"}}
    >
    </button>
  </li>
</ul>

{{component hintComponent}}
{{component errorComponent}}
