<DocsViewer as |viewer|>

  <viewer.nav as |nav|>
    {{nav.item (t "dummy.usage") "docs.index"}}
    {{nav.item (t "dummy.testing") "docs.testing"}}
    {{nav.item (t "dummy.queries.title") "docs.queries"}}
    {{nav.item (t "dummy.migration") "docs.migration"}}
  </viewer.nav>

  <viewer.main>
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  </viewer.main>

</DocsViewer>
