<li
  id={{this.elementId}}
  class={{if @question.isArchived "cfb-form-editor__question-list__item__archived"}}
  {{did-insert (fn (optional @on-register) this.elementId @question.slug)}}
  {{will-destroy (fn (optional @on-unregister) this.elementId @question.slug)}}
  ...attributes
>
  <div class="uk-flex uk-flex-middle">
    <span class="uk-width-auto uk-margin-small-right">
      {{#if (eq @mode "reorder")}}
        <i
          role="button"
          data-test-sort-handle
          uk-icon="menu"
          class="uk-sortable-handle"
        >
        </i>
      {{else if (eq @mode "remove")}}
        <i
          role="button"
          data-test-remove-item
          uk-icon="minus"
          class="cfb-pointer uk-text-danger"
          {{on "click" (fn (optional @on-remove-question) @question)}}
        >
        </i>
      {{else if (eq @mode "add")}}
        <i
          role="button"
          data-test-add-item
          uk-icon="plus"
          class="cfb-pointer uk-text-success"
          {{on "click" (fn (optional @on-add-question) @question)}}
        >
        </i>
      {{/if}}
    </span>

    {{#if (eq @mode "reorder")}}
      <a
        data-test-edit-question
        href="#"
        class="uk-width-auto uk-margin-small-right uk-text-bold"
        {{on "click" (fn (optional @on-edit-question) @question)}}
      >
        {{@question.slug}}
        {{#if @question.isArchived}}({{t "caluma.form-builder.question.isArchived"}}){{/if}}
      </a>
    {{else}}
      <span class="uk-width-auto uk-margin-small-right uk-text-bold">{{@question.slug}}</span>
    {{/if}}

    <span
      class="{{if this.showFormLink "uk-width-auto" "uk-width-expand"}}
        uk-margin-small-right uk-text-small uk-text-muted uk-text-truncate"
    >
      {{@question.label}}
    </span>
    {{#if this.showFormLink}}
      <span uk-icon="link" class="uk-flex-none"></span>
      <a data-test-link-subform
        href="#"
        class="uk-width-expand uk-margin-small-right uk-text-small uk-text-truncate"
        {{on "click" (fn (optional @on-click-form) (or @question.subForm @question.rowForm))}}
      >
        {{or @question.subForm.name @question.rowForm.name}}
      </a>
    {{/if}}

    <span class="uk-position-relative uk-width-auto">
      <UkBadge
        uk-tooltip="title: {{if this.hidden (t (concat "caluma.form-builder.question-list.hidden." this.hiddenType))}}; pos: left"
        class="cfb-form-editor__question-list__item__type {{if this.hidden "cfb-form-editor__question-list__item__type--hidden"}}"
        @label={{t (concat "caluma.form-builder.question.types." @question.__typename)}}
        title={{if this.hidden (t (concat "caluma.form-builder.question-list.hidden." this.hiddenType))}}
      />
      {{#if this.required}}
        <span
          uk-tooltip="title: {{t (concat "caluma.form-builder.question-list.required." this.requiredType)}}; pos: top-left"
          title={{t (concat "caluma.form-builder.question-list.required." this.requiredType)}}
          class="uk-position-top-right cfb-form-editor__question-list__item__required 
            cfb-form-editor__question-list__item__required--{{this.requiredType}}"
        >
        </span>
      {{/if}}
    </span>
  </div>
</li>