{{#if data.isRunning}}
  <div class="uk-flex uk-flex-center uk-flex-middle uk-height-small">
    {{uk-spinner ratio=2}}
  </div>
{{else}}
  {{#with data.lastSuccessful.value as |model|}}
    {{#validated-form
      model=(changeset model validations)
      on-submit=(perform submit)
    as |f|}}
      {{#f.input name='name' as |i|}}
        <label class="uk-form-label uk-text-bold">{{t 'caluma.form-builder.form.name'}}</label>
        <input
          name={{i.name}}
          class="uk-input {{i.class}}"
          value={{i.value}}
          onblur={{i.setDirty}}
          oninput={{action (queue i.update (action 'inputName' f.model)) value='target.value'}}
        >
      {{/f.input}}

      {{#f.input name='slug' as |i|}}
        <label class="uk-form-label uk-text-bold">{{t 'caluma.form-builder.form.slug'}}</label>
        <input
          type="text"
          name={{i.name}}
          class="uk-input {{i.class}}"
          maxlength="50"
          disabled={{f.model.id}}
          value={{i.value}}
          onblur={{i.setDirty}}
          oninput={{action i.update value='target.value'}}
        >
      {{/f.input}}

      {{#f.input name='description' as |i|}}
        <label class="uk-form-label uk-text-bold">{{t 'caluma.form-builder.form.description'}}</label>
        <textarea
          name={{i.name}}
          class="uk-textarea {{i.class}}"
          rows="5"
          value={{i.value}}
          onblur={{i.setDirty}}
          oninput={{action i.update value='target.value'}}
        ></textarea>
      {{/f.input}}

      <div class="uk-text-right">
        {{#if f.model.id}}
          {{uk-button
            data-test-delete
            disabled=(or delete.isRunning f.loading)
            loading=delete.isRunning
            label=(t 'caluma.form-builder.global.delete')
            on-click=(perform delete f.model)
          }}
        {{/if}}

        {{#f.submit data-test-submit disabled=(or f.loading f.model.isInvalid)}}
          {{#if f.loading}}{{uk-spinner}}{{else}}{{t 'caluma.form-builder.global.save'}}{{/if}}
        {{/f.submit}}
      </div>
    {{/validated-form}}
  {{/with}}
{{/if}}
