{{#if data.isRunning}}
  <div class="uk-flex uk-flex-center uk-flex-middle uk-height-small">
    {{uk-spinner ratio=2}}
  </div>
{{else}}
  {{#if model}}

    {{#validated-form model=changeset on-submit=(perform submit) as |f|}}
      {{#if (and f.model.isDirty slug)}}
        <div class="uk-alert-warning uk-animation-fade" uk-alert>
          <a href="#" class="uk-alert-close" uk-close></a>
          <div uk-grid class="uk-grid-small">
            <div class="uk-width-auto uk-flex uk-flex-middle">
              {{uk-icon "warning" ratio=1.2}}
            </div>
            <div class="uk-width-expand">
              <strong>{{t "caluma.form-builder.question.minor-info-title"}}</strong>
              {{t "caluma.form-builder.question.minor-info"}}
            </div>
          </div>
        </div>
      {{/if}}

      {{f.input
        type="select"
        options=possibleTypes
        optionLabelPath="label"
        optionTargetPath="value"
        label=(t "caluma.form-builder.question.type")
        hint=(t "caluma.form-builder.question.type-disabled")
        name="__typename"
        required=true
        disabled=slug
      }}

      {{f.input
        label=(t "caluma.form-builder.question.label")
        name="label"
        required=true
        on-update=(action "updateLabel")
      }}

      <div uk-grid class="uk-grid-small uk-margin">
        <div class="uk-width-expand">
          {{#if (or slug (not prefix))}}
            {{f.input
              label=(t "caluma.form-builder.question.slug")
              name="slug"
              required=true
              disabled=slug
              on-update=(action "updateSlug")
            }}
          {{else}}
            {{#f.input
              name="slug"
              required=true
              disabled=slug
              label=(t "caluma.form-builder.question.slug")
              on-update=(action "updateSlug" value="target.value")
            as |fi|}}
              <div class="cfb-prefixed">
                <span class="cfb-prefixed-slug">{{prefix}}</span>

                {{validated-input/types/-themes/uikit/input
                  model=fi.model
                  name=fi.name
                  value=fi.value
                  update=fi.update
                  setDirty=fi.setDirty
                  inputId=fi.inputId
                  isValid=fi.isValid
                  isInvalid=fi.isInvalid
                }}
              </div>
            {{/f.input}}
          {{/if}}
        </div>

        {{#if this.requiredIsVisible}}
          <div class="uk-width-auto uk-flex">
            {{f.input
              name="isRequired"
              label=(t "caluma.form-builder.question.isRequired")
              required=true
              renderComponent=(component "cfb-jexl-boolean-toggle-switch" size="small")
              class="uk-flex uk-flex-between uk-flex-column"
            }}
          </div>
        {{/if}}
      </div>

      {{#if (has-question-type f.model "calculated-float")}}
        <f.input
          @type="textarea"
          @label={{t "caluma.form-builder.question.calcExpression"}}
          @name="calcExpression"
          class="uk-margin-remove-bottom"
        />
      {{/if}}

      {{#if (eq f.model.__typename "StaticQuestion")}}
        {{f.input
          type="textarea"
          label=(t "caluma.form-builder.question.staticContent")
          name="staticContent"
          class="uk-margin-remove-bottom"
        }}
        <small class="uk-text-muted">
          {{t "caluma.form-builder.question.supportsMarkdownPrefix"}}
          <a target="_blank" rel="noopener noreferrer" href="https://www.markdownguide.org/basic-syntax">{{t "caluma.form-builder.question.markdown"}}</a>
        </small>
      {{/if}}

      {{f.input
        type="textarea"
        label=(t "caluma.form-builder.question.infoText")
        name="infoText"
        class="uk-margin-remove-bottom"
      }}
      <small class="uk-text-muted">
        {{t "caluma.form-builder.question.supportsMarkdownPrefix"}}
        <a target="_blank" rel="noopener noreferrer" href="https://www.markdownguide.org/basic-syntax">{{t "caluma.form-builder.question.markdown"}}</a>
      </small>

      {{#if (includes f.model.__typename (array "TextQuestion" "TextareaQuestion" "IntegerQuestion" "FloatQuestion"))}}
        {{f.input
          name="placeholder"
          label=(t "caluma.form-builder.question.placeholder")
        }}
      {{/if}}

      {{#if (includes f.model.__typename (array "TextQuestion" "TextareaQuestion"))}}
        {{f.input
          type="number"
          name="minLength"
          label=(t "caluma.form-builder.question.min-length")
        }}
        {{f.input
          type="number"
          name="maxLength"
          label=(t "caluma.form-builder.question.max-length")
        }}
      {{/if}}

      {{#if (includes f.model.__typename (array "TextQuestion" "TextareaQuestion"))}}
        {{f.input
          name="meta.formatValidators"
          label=(t "caluma.form-builder.question.formatValidators")
          placeholder=(t "caluma.form-builder.question.choose")
          required=false
          renderComponent=(component "cfb-form-editor/question/validation")
          on-update=(changeset-set f.model "meta.formatValidators")
          value=(changeset-get f.model "meta.formatValidators")
        }}
      {{/if}}

      {{#if (eq f.model.__typename "FloatQuestion")}}
        <div uk-grid class="uk-grid-small uk-child-width-1-2 uk-margin">
          <div>
            {{f.input
              name="floatMinValue"
              label=(t "caluma.form-builder.question.min-value")
              renderComponent=(component "cfb-float-input")
            }}
          </div>

          <div>
            {{f.input
              name="floatMaxValue"
              label=(t "caluma.form-builder.question.max-value")
              renderComponent=(component "cfb-float-input")
            }}
          </div>
        </div>
      {{/if}}

      {{#if (eq f.model.__typename "IntegerQuestion")}}
        <div uk-grid class="uk-grid-small uk-child-width-1-2 uk-margin">
          <div>
            {{f.input
              type="number"
              name="integerMinValue"
              label=(t "caluma.form-builder.question.min-value")
            }}
          </div>

          <div>
            {{f.input
              type="number"
              name="integerMaxValue"
              label=(t "caluma.form-builder.question.max-value")
            }}
          </div>
        </div>
      {{/if}}

      {{#if (includes f.model.__typename (array "MultipleChoiceQuestion" "ChoiceQuestion"))}}
        {{f.input
          name="options"
          label=(t "caluma.form-builder.question.options")
          required=true
          renderComponent=(component "cfb-form-editor/question/options")
        }}
      {{/if}}

      {{#if (includes f.model.__typename (array "DynamicMultipleChoiceQuestion" "DynamicChoiceQuestion"))}}
        {{f.input
          name="dataSource"
          type="select"
          required=true
          class="uk-flex uk-flex-betwten uk-flex-column"

          label=(t "caluma.form-builder.question.dataSource")
          options=(or availableDataSources.lastSuccessful.value (array ))
          optionTargetPath="name"
          optionLabelPath="info"
          includeBlank=(t "caluma.form-builder.question.chooseRowForm")
        }}
      {{/if}}

      {{#if (includes f.model.__typename (array "DynamicMultipleChoiceQuestion" "DynamicChoiceQuestion" "MultipleChoiceQuestion" "ChoiceQuestion"))}}
        <div data-test-hide-label>
          {{f.input
            name="meta.hideLabel"
            required=true
            label=(t "caluma.form-builder.question.hideLabel")
            renderComponent=(component "cfb-toggle-switch" size="small")
            class="uk-flex uk-flex-between uk-flex-column"
            on-update=(changeset-set f.model "meta.hideLabel")
            value=(changeset-get f.model "meta.hideLabel")
          }}
        </div>
      {{/if}}

      {{#if (eq f.model.__typename "TableQuestion")}}
        {{f.input
          name="rowForm.slug"
          type="select"
          options=(or availableForms.lastSuccessful.value (array ))
          required=true
          includeBlank=(t "caluma.form-builder.question.choose")
          label=(t "caluma.form-builder.question.rowForm")
        }}

        {{#f.input name="meta.columnsToDisplay" label=(t "caluma.form-builder.question.columnsToDisplay") as |fi|}}
          {{#each model.rowForm.questions.edges as |rowEdge|}}
            {{#let rowEdge.node as |row|}}
              <label class="cf-checkbox_label">
                <input
                  type="checkbox"
                  value={{row.slug}}
                  checked={{includes row.slug model.meta.columnsToDisplay}}
                  onclick={{action "toggleColumnToDisplay" row.slug}}
                  onfocusout={{fi.setDirty}}
                  class="uk-checkbox uk-margin-small-right"
                >
                {{row.label}}
              </label>
            {{/let}}
          {{/each}}
        {{/f.input}}
      {{/if}}

      {{#if (eq f.model.__typename "FormQuestion")}}
        {{f.input
          name="subForm.slug"
          type="select"
          options=(or availableForms.lastSuccessful.value (array ))
          required=true
          includeBlank=(t "caluma.form-builder.question.choose")
          label=(t "caluma.form-builder.question.subForm")
        }}
      {{/if}}

      {{f.input
        name="meta.widgetOverride"
        label=(t "caluma.form-builder.question.widgetOverride")
        class="uk-flex uk-flex-between uk-flex-column"

        type="select"
        allowClear=true
        optionTargetPath="component"
        optionLabelPath="label"
        options=availableOverrides
      }}

      {{f.input
        name="isArchived"
        label=(t "caluma.form-builder.question.isArchived")
        required=true
        renderComponent=(component "cfb-toggle-switch" size="small")
        class="uk-flex uk-flex-between uk-flex-column"
      }}

      <p>
        {{#uk-button color="link" on-click=(toggle-action "showAdvanced" this)}}
          {{#if showAdvanced}}
            {{uk-icon "triangle-down"}}
          {{else}}
            {{uk-icon "triangle-right"}}
          {{/if}}
          {{t "caluma.form-builder.question.advancedSettings"}}
        {{/uk-button}}
      </p>
      {{#if showAdvanced}}
        {{f.input
          type="textarea"
          label=(t "caluma.form-builder.question.isHidden")
          name="isHidden"
          class="jexl-textarea"
        }}

        {{#if this.requiredIsVisible}}
          <f.input
            @type="textarea"
            @label={{t "caluma.form-builder.question.isRequired"}}
            @name="isRequired"
            class="jexl-textarea"
          />
        {{/if}}
      {{/if}}

      <div class="uk-text-right">
        {{f.submit
          label=(t "caluma.form-builder.global.save")
        }}
      </div>
    {{/validated-form}}
  {{else}}
    <div
      class="uk-text-center uk-text-muted uk-padding uk-padding-remove-horizontal"
    >
      {{uk-icon "bolt" ratio=5}}
      <p>{{t "caluma.form-builder.question.not-found" slug=slug}}</p>
    </div>
  {{/if}}
{{/if}}
