{{#if data.isRunning}}
  <div class="uk-flex uk-flex-center uk-flex-middle uk-height-small">
    {{uk-spinner ratio=2}}
  </div>
{{else}}
  {{#with data.lastSuccessful.value.firstObject.node as |model|}}
    {{#validated-form
      model=(changeset model validations)
      on-submit=(perform submit)
    as |f|}}
      {{#if (and f.model.isDirty slug)}}
        <div class="uk-alert-warning uk-animation-fade" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <div uk-grid class="uk-grid-small">
            <div class="uk-width-auto uk-flex uk-flex-middle">
            {{uk-icon 'warning' ratio=1.2}}
            </div>
            <div class="uk-width-expand">
              <strong>{{t 'caluma.form-builder.question.minor-info-title'}}</strong>
              {{t 'caluma.form-builder.question.minor-info'}}
            </div>
          </div>
        </div>
      {{/if}}

      {{f.input
        renderComponent=(component 'cfb-button-group-select')
        options=possibleTypes
        optionLabelPath='label'
        optionTargetPath='value'
        label=(t 'caluma.form-builder.question.type')
        hint=(if slug (t 'caluma.form-builder.question.type-disabled'))
        name='__typename'
        disabled=slug
      }}

      {{f.input
        type='text'
        label=(t 'caluma.form-builder.question.label')
        name='label'
        on-update=(action 'inputLabel')
      }}

      <div uk-grid class="uk-grid-small uk-margin">
        <div class="uk-width-expand">
          {{f.input
            type='text'
            label=(t 'caluma.form-builder.question.slug')
            name='slug'
            disabled=slug
          }}
        </div>

        <div class="uk-width-auto uk-flex">
          {{f.input
            name='isRequired'
            label=(t 'caluma.form-builder.question.isRequired')
            renderComponent=(component 'cfb-jexl-boolean-toggle-switch' size='small')
            class='uk-flex uk-flex-between uk-flex-column'
          }}
        </div>
      </div>

      <div class="uk-text-right">
        {{f.submit
          disabled=(or f.loading f.model.isInvalid f.model.isPristine)
          label=(t 'caluma.form-builder.global.save')
        }}
      </div>
    {{/validated-form}}
  {{^}}
    <div class="uk-text-center uk-text-muted uk-padding uk-padding-remove-horizontal">
      {{uk-icon 'bolt' ratio=5}}
      <p>{{t 'caluma.form-builder.question.not-found' slug=slug}}</p>
    </div>
  {{/with}}
{{/if}}
